/* Для ноутбуков */
@media screen and (max-width: 1199px) and (min-width: 992px) {
	h1 {
		margin-left: 220px;
	}

	header p {
		margin-left: 220px;
	}

	header li {
		margin-right: 200px;
	}

	.container {
		margin-left: 5%;
		margin-right: 5%;

	}

	.footer li {
		text-align: center;
		margin-left: 0px;
	}

	.footer p {
		text-align: center;
		margin-left: 0px;
	}

	.main_article {
		margin-left: 15px;
	}
}
/* Для планшетов */
@media screen and (max-width: 991px) and (min-width: 768px) {
	h1 {
		margin-left: 25%;
	}

	header p {
		margin-left: 25%;
	}

	header li {
		margin-right: 0px;
		text-align: center;
	}

	header ul {
		padding-left: 4vw;
	}

	.container {
		width: 730px;
		margin-left: 0px;
		padding: 5%;
	}

	.main_article {
		margin-left: 80px;
	}

	.sidebar {
		margin-right: 214px;
	}

	.footer li {
		text-align: center;
		margin-left: 0px;
	}

	.footer p {
		text-align: center;
		margin-left: 0px;
	}
}

/* Для маленьких планшетов */
@media screen and (max-width: 767px) and (min-width: 576px) {
	h1 {
		text-align: center;
		margin-left: 0px;
	}

	header p {
		text-align: center;
		margin-left: 0px;
	}

	header li {
		text-align: center;
		margin-right: 0px;
	}

	header ul {
		padding-left: 4vw;
	}

	.container {
		width: 90%;
		padding: 5%;
		margin-left: 0;
	}

	.sidebar {
		margin-right: 26%
	}

	.movie, .show {
		margin-left: 0;
	}

	.main_article {
		width: 525px;
	}

	.movie_article {
		margin-left: 1%;
	}

	.content {
		width: 115%;
	}

	.contacts input {
		width: 100%;
	}

	.contacts textarea {
		width: 100%;
	}

	iframe {
		width: 100% !important;
	}

}

/* Для телефонов */
@media screen and (max-width: 575px) {
	header li {
		margin-right: 5%;
	}

	header ul {
		padding-left: 10px;
	}

	.container {
		padding: 5%;
		margin-left: 0;
	}

	.content {
		width: 54%;
	}

	.main_article {
		width: 82%;
	}

	.sidebar {
		margin-right: 55%;
	}

	.movie_article {
		height: 325px;
		padding-bottom: 0;
	}

	.button {
		margin-left: 0;
	}

	.contacts input {
		width: 100%;
	}

	.contacts textarea {
		width: 100%;
	}

	iframe {
		width: 100% !important;
	}
}